.container {
    position: relative;
    display: none;
  }
  
  /* Hamburger Button */
  .menuButton {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    color: #062c65;
  }
  
  /* Mobile Menu */
  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  /* When menu is open */
  .mobileMenu.open {
    transform: translateY(60px);
  }
  
  /* Menu Links */
  .mobileMenu nav ul {
    list-style: none;
    padding: 0;
  }
  
  .mobileMenu nav ul li {
    margin: 20px 0;
    font-size: 24px;
    padding: 10px 20px;
  }
  
  .mobileMenu nav ul li a {
font-family: var(--font-nunito-sans), sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
letter-spacing: 0.005em;
color: #062C65;
    transition: color 0.3s;
  }
  
  .mobileMenu nav ul li a:hover {
    color: lightgray;
  }
 
  @media (max-width: 768px){
    .container{
        display: block;
    }
  }
  