.labels_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.label_container{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.label_container p{
  font-size: 12px;
}
@media (max-width: 600px){
  .label_container{
    width: 100%;
  }
  .label_container p{
    font-size: 10px;
  }
}