.container{
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 150px;
background: #CFEBC8;
position: relative;
}
.dropdown_icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
    font-size: 24px;
    font-weight: bold;
    transition: all 1s ease-in-out;
  }
  
  .dropdown_icon.open {
    transform: rotate(0deg);
  }
  .button_container
{
    position: relative;
    transform: translateY(100%);
opacity: 0;
}
.active_container{
    z-index: 10000 !important;
}
.drop_down_content{
    position: absolute;
    width: 300px;
    left: 0;
    top: 110%;
   background-color: #fff;
    border-radius: 20px;
    padding: 15px;
}
.digital_upper_content{
    width: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.digital_upper_content h1{
font-weight: 700;
font-size: 56px;
text-align: center;
color: #031411;
line-height: 66px;
overflow-y: hidden;
}
.digital_upper_content h1 span{
    display: inline-block;
}
.digital_upper_content p{
font-weight: 400;
font-size: 18px;
text-align: center;
color: #1D1F2C;
width: 60%;
transform: translateY(100%);
opacity: 0;
}
.buttons_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.green_button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px;
margin-right: 10px;
width: 200px;
height: 77px;
background: #9FE49D;
box-shadow: 0px 9px 22px rgba(14, 173, 0, 0.4);
border-radius: 999px;
border: none;
outline: none;

}
.white_button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px;
margin-right: 10px;
width: 200px;
height: 77px;
background: #FFFFFF;
border: 1px solid #9FE49D;
border-radius: 999px;
border: none;
outline: none;

}
.green_button, .white_button{
font-weight: 400;
font-size: 18px;
color: #031411;
cursor: pointer;
}
.digital_lower_content{
display: flex;
justify-content: center;
align-items: center;
padding: 60px 20px;
}
.image_container{
width: 50%;
height: 100%;
}
.image_container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    clip-path: polygon(0 0, 0 0,0 100%, 0 100%);
}
.content_container{
    width: 50%;
}
.content_container h1, .content_container p{ 
    transform: translateY(100%);
    opacity: 0;
color: #1D1F2C;}
.mobile_buttons{
    display: none;
}
.background_overlay_left{
    position: absolute;
    top: 10%;
    left: -5%;
    }
    .background_overlay_right{
        position: absolute;
        right: 0%;
        bottom: 0;
        }
    .wavy_image{
    position: absolute;
    bottom: -10%;
    left: 0;
    }
    .wavy_image img{
        width: 100%;
        height: auto;
        object-fit: cover;
        inset: auto auto -10px auto;
    }
    
 @media (max-width: 1500px){
    .wavy_image{
        bottom: -50px;
    }
    }
 @media (max-width: 650px){
    .wavy_image{
        bottom: -25px;
    }
    }
    @media (max-width: 1000px){
        .container{
            padding: 60px 40px;
        }
    }
    @media (max-width: 768px){
        .container{
            padding: 60px 20px;
        }
        .digital_upper_content p{
            font-size: 16px;
            width: 100%;
        }
        .digital_upper_content h1{
            font-size: 36px;
            margin-bottom: 10px;
            line-height: 46px;
        }
        .buttons_container {
           flex-direction: column;
        }
.button_container{
width: 100%;
margin-bottom: 20px;
}
.green_button, .white_button{
    width: 100%;
    justify-content: space-between;
}
.drop_down_content{
    width: 100%;
}
        .digital_lower_content{
            flex-direction: column;
            align-items: center;
        }
        .image_container, .content_container{
            width: 100%;
        }
        .mobile_buttons{
            display: block;
            width: 100%;
            padding: 20px 0;
        }
        .mobile_buttons .white_button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 24px;
            width: 100%;
            height: 77px;
            margin-bottom: 15px;
            border: none;
outline: none;
        }
    }