.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-color: #CFEBC8;
}
.tag {
    color: #0056b3;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 400;
background: #FFFFFF;
  }
  .formContainer {
display: flex;
flex-direction: column;
padding: 32px 20px;
background: #FFFFFF;
border: 1px solid #E9E9EA;
box-shadow: 0px 20px 24px rgba(24, 35, 34, 0.12), 0px 8px 8px -4px rgba(24, 35, 34, 0.03);
border-radius: 15px;
width: 100%;
max-width: 700px;
margin-bottom: 80px;
  }
  
  .container h2 {
    font-size: 1.8rem;
    color: #003366;
    margin-bottom: 1rem;
  }
  
  .formContainer h3 {
    margin-bottom: 0.5rem;
    text-align: left;
font-weight: 700;
font-size: 26px;
color: #062C65;
  }
  
  .reach {
    margin-bottom: 1rem;
font-weight: 400;
font-size: 14px;
color: #4A4C56;
text-align: left;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    display: flex;
    gap: 10px;
  }
  
  .form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  .form input::placeholder, .form textarea::placeholder{
font-weight: 400;
font-size: 14px;
color: #777980;
  }
  .form textarea {
    resize: none;
    height: 100px;
  }
  
  .form h4 {
font-weight: 700;
font-size: 16px;
text-transform: capitalize;
text-align: left;
color: #062C65;
  }
  
  .checkboxGroup {
    display: flex;
   justify-content: space-between;
   align-items: center;
  }
  
  .checkboxGroup label {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  .label{
    display: inline-block;
    width: 90%;
font-weight: 400;
white-space: nowrap;
font-size: 10px;
color: #100F14;
  }
  .checkboxGroup input{
    margin-top: 8px;
  }
  
  .submitButton {
    background: #9FE49D;
    color: white;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .submitButton:hover {
    background: #9FE49D;
  }
  
  .terms {
    font-size: 0.85rem;
    width: 100%;
    color: #666;
    margin-top: 10px;
    text-align: center;
  }
  
  .terms a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .terms a:hover {
    text-decoration: underline;
  }
  .background_overlay_left{
    position: absolute;
    top: 10%;
    left: -5%;
    }
    .background_overlay_right{
        position: absolute;
        right: 0%;
        bottom: 0;
        }
    .wavy_image{
    position: absolute;
    bottom: -10%;
    left: 0;
    }
    .wavy_image img{
        width: 100%;
        height: auto;
        object-fit: cover;
        inset: auto auto -10px auto;
    }
    
 @media (max-width: 1500px){
    .wavy_image{
        bottom: -50px;
    }
    }
 @media (max-width: 650px){
    .wavy_image{
        bottom: -25px;
    }
    }
  @media (max-width: 768px){
    .container {
    padding: 40px 20px;
    }
    .background_overlay_left, .background_overlay_right{
      display: none;
    }
    .inputGroup {
       flex-direction: column;
      }
      .checkboxGroup {
        flex-direction: column;
        align-items: flex-start;
      }
  }

  