.container {
  padding: 40px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fefefe;
    position: relative;
  }
  .title {
    font-weight: 700;
font-size: 56px;
text-align: center;
    color: #062C65;
    line-height: 66px;
overflow-y: hidden;
}
.title span{
    display: inline-block;
}
  
.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 40px;
    padding: 40px 0;
    align-items: stretch;
}
.mission, .vision{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 8px;
min-width: 320px;
max-width: 644px;
border-radius: 16px;
background: #E0E9F5;
text-align: left;
}

.mission h1, .vision h1{
font-weight: 700;
font-size: 32px;
color: #062C65;
}
.mission p, .vision p{
font-weight: 400;
font-size: 18px;
color: #4A4C56;
}
.bottom_overlay{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20%;
background: #031839;
}
.video_container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.video_container img{
    width: 100%;
    height: auto;
    object-fit: contain;
    clip-path: polygon(0 0, 0 0,0 100%, 0 100%);
}
@media (max-width: 1200px){
    .container{
        padding: 20px;
    }
}
@media (max-width: 768px){
    .container{
        padding: 20px;
    }
    .title{
        font-size: 32px;
        line-height: 42px;
    }
    .card_container{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .video_container{
        padding: 0;
    }
    .video_container img{
        object-fit: cover;
width: 100%;
min-height: 500px;
max-height: 544px;
    }
    .bottom_overlay{
        height: 10%;
    }
}
  