.navigation_container{
width: 100%;
height: 380px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #00132D;
}
.navigation_header{
font-weight: 700;
font-size: 56px;
text-align: center;
color: #FFFFFF;
}
.navigation_links{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
text-align: center;
letter-spacing: 0.005em;
color: #D2D2D5;
}
.navigation_link{
    color: #35C3FF;
}
@media (max-width: 550px){
    .navigation_header{
font-size: 32px;
    }
    .navigation_links{
font-size: 16px;
    }
}