.marqueeContainer {
  overflow: hidden;
  position: relative;
  background-color: #f5f5f5;
  padding: 40px 0;
}

.marquee {
  display: flex;
  overflow: hidden;
}

.marqueeContent {
  display: flex;
  width: 100%;
  animation: marqueeAnimation 20s linear infinite;
  margin-bottom: 40px;
}

.reverse .marqueeContent {
  animation: marqueeAnimationReverse 20s linear infinite;
}

.card {
  min-width: 350px;
  padding: 40px 20px;
  margin: 0 10px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card p{
font-weight: 400;
font-size: 16px;
color: #4A4C56;
white-space: wrap;
text-align: left;
padding: 10px 0;

}
.top_text{
  display: flex;
  align-items: center;
  gap: 40px;
   text-align: center;
}
.top_text h1{
font-weight: 700;
font-size: 20px;
letter-spacing: 0.005em;
color: #1D1E25;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeAnimationReverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@media (max-width: 768px){
 .reverse .marqueeContent{
     animation: marqueeAnimationReverse 6s linear infinite;
  }
  .marqueeContent{
     animation: marqueeAnimation 6s linear infinite;
  }
}
